@import 'global';

.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1rem 0;
  gap: 10px;
  flex-wrap: wrap;

  .logo {
    display: flex;
    align-items: center;
    gap: 10px;
    background-color: #fff;
    width: fit-content;
    padding: 4px 32px 4px 48px;
    box-shadow: 0 0 6px rgb(0 0 0 / 10%);
    border-top-right-radius: 1.5rem;
    border-bottom-right-radius: 1.5rem;
    color: #f50707;

    & > i.fa-heart-pulse {
      font-size: 2rem;
      color: #f50707;
    }

    &-content {
      font-size: 24px;
      font-weight: 500;
    }
  }

  .be-a-donor-link {
    display: flex;
    align-items: center;
    gap: 6px;
    text-decoration: none;
    color: #f50707;
    padding: 0.5rem 0.75rem;
    border-radius: 6px;
    transition: all 0.2s ease-in-out;

    & > svg {
      width: 16px;
      height: 16px;
    }

    &:hover {
      color: #fff;
      background: #f50707;

      & > svg {
        stroke: #fff;
      }
    }

    @media (max-width: 576px) {
      color: #ff2f2f;
      background: #f0e9e9;
      font-weight: 500;

      & > svg {
        stroke: #ff2f2f;
      }
    }
  }
}

.filter-bar h4 {
  color: red;
  display: block;
  margin-bottom: 1rem;
}

.search-filter {
  @include appearance;
  width: 100%;
  padding: 0.5rem 0.75rem;
  border: 1px solid #eee;
  position: relative;
  line-height: 1.5;

  background-image: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 32 24" width="24" height="24" fill="gray"><path d="M12 15.59L6.71 10.29a1.004 1.004 0 00-1.42 1.42l6 6a1.004 1.004 0 001.42 0l6-6a1.004 1.004 0 00-1.42-1.42z"/></svg>'); /* Custom arrow */
  background-repeat: no-repeat;
  background-position: right center;
  border-radius: 4px;

  &:after {
    content: 'content'; /* Add the content here */
    position: absolute;
    top: 0;
    right: 0;
    z-index: 1;
  }

  & > option {
    @include appearance;
    padding: 0.5rem 1rem;
  }
}

.filter-options {
  display: -moz-grid;
  display: -ms-grid;
  display: grid;
  gap: 10px;
  grid-template-columns: repeat(10, 1fr);

  @media (max-width: 992px) {
    grid-template-columns: repeat(12, 1fr);
  }

  & > div {
    grid-column: span 2;

    @media (max-width: 992px) {
      grid-column: span 4;
    }

    @media (max-width: 768px) {
      grid-column: span 6;
    }

    @media (max-width: 576px) {
      grid-column: span 12;
    }
  }
}

.label {
  font-size: 14px;
  font-weight: 500;
  color: #666;
  display: block;
  margin-bottom: 0.25rem;
}

.donor-registration-container {
  display: grid;
  place-items: center;
  height: 100vh;
}

.form-container {
  max-width: 600px;
  padding: 1.3rem;
  margin: auto;
  background-color: #fff;
  border-radius: 1rem;
  box-shadow: 0 10px 10px 10px rgb(0 0 0 / 2%);

  h2 {
    margin-bottom: 2rem;
  }
}

#donor-registration {
  display: grid;
  display: -ms-grid;
  display: -moz-grid;
  gap: 1.2rem;
  width: 100%;

  grid-template-columns: repeat(12, 1fr);

  & > .form-group {
    grid-column: span 12;

    & > input {
      width: 100%;
      padding: 0.5rem 0.75rem;
      border: 1px solid #eee;
      position: relative;
      line-height: 1.5;
    }

    @media (min-width: 576px) {
      grid-column: span 6;
      &.donor_name {
        grid-column: span 8;
      }
      &.donor_dob {
        grid-column: span 4;
      }

      &:has(
          select#division,
          select#district,
          select#thana,
          select#blood_type,
          input#last_blood_donation,
          input#mobile
        ) {
        grid-column: span 4;
      }
    }
  }

  & > input[type='submit'] {
    background: rgb(255 0 0 / 90%);
    color: rgb(255 255 255 / 90%);
    border-color: rgb(255 255 255 / 30%);

    &:hover {
      background: rgb(255 0 0 / 70%);
      color: rgb(255 255 255 / 90%);
      border-color: rgb(255 255 255 / 20%);
    }
  }
}

.donors {
  margin: 1.2rem 0;
  h4 {
    margin-bottom: 1.2rem;
  }
}

.donor-card {
  display: flex;
  align-items: center;
  width: 100%;
  gap: 1rem;
  padding: 10px 16px;
  background-color: rgb(255 255 255 / 80%);
  max-width: 670px;
  border-radius: 12px;
  box-shadow: 0 10px 10px rgb(0 0 0 / 2%);
  position: relative;
  margin-bottom: 1rem;

  .data-loading {
    width: 100%;
    height: 50px;
    display: grid;
    place-items: center;
    color: rgb(0 0 0 / 60%);

    span {
      font-weight: 500;
      margin: 0;
    }
  }

  & > i {
    font-size: 2rem;
    color: rgb(0 0 0 / 40%);
    padding: 16px;

    @media (max-width: 578px) {
      padding: 8px;
    }
  }

  div {
    width: 100%;
    .donor-name {
      margin-bottom: 0.3rem;
      font-size: 1rem;
      color: rgb(0 0 0 / 80%);
      @media (max-width: 578px) {
        font-size: 14px;
      }
    }

    .donor-blood-type {
      margin-bottom: 0.2rem;
      color: #f50707;
    }

    .donor-address {
      color: rgb(0 0 0 / 60%);
      @media (max-width: 578px) {
        font-size: 14px;
      }
    }

    .donor-mobile {
      display: flex;
      align-items: center;
      gap: 0.5rem;
      color: rgb(0 0 0 / 60%);
      i {
        color: rgb(0 0 0 / 50%);
      }
      @media (max-width: 578px) {
        font-size: 14px;
      }
    }
  }
}
