@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');
* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

body {
  font-family: 'Inter', sans-serif;
  font-optical-sizing: auto;
  background-color: #f8f8f8;
  color: #181818;
  width: 100vw;
  height: 100vh;
}

.w-100 {
  width: 100%;
}

.text-sm {
  font-size: 14px;
}
.text-base {
  font-size: 16px;
}
.text-md {
  font-size: 18px;
}
.text-lg {
  font-size: 20px;
}

.container {
  width: 100%;
  padding: 0 72px;
  max-width: 1440px;
  margin-inline: auto;
}
@media (max-width: 992px) {
  .container {
    padding: 0 32px;
  }
}
@media (max-width: 576px) {
  .container {
    padding: 0 16px;
  }
}

.nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.btn {
  display: flex;
  align-items: center;
  gap: 4px;
  background: #f8f8f8;
  padding: 6px 12px 6px 8px;
  border: 1px solid #ddd;
  border-radius: 6px;
  font-weight: 500;
  transition: all 0.2s ease-in-out;
  cursor: pointer;
}
.btn > svg {
  width: 16px;
  height: 16px;
  stroke-width: 1.5;
  color: #353535;
}
.btn:hover {
  background: rgba(255, 0, 0, 0.9);
  color: rgba(255, 255, 255, 0.9);
  border-color: rgba(255, 255, 255, 0.3);
}
.btn:hover > svg {
  color: rgba(255, 255, 255, 0.9);
}

table {
  width: 100%;
  height: fit-content;
}

th {
  font-size: 14px;
  color: #444;
  font-weight: 500;
}

:is(table, th, td) {
  border: 1px solid #eee;
  border-collapse: collapse;
  padding: 10px;
  text-align: left;
  color: #444;
}

thead tr {
  background-color: rgb(250, 250, 250);
}

tr:nth-child(even) {
  background-color: rgba(250, 250, 250, 0.7);
}

tr:hover td {
  background-color: rgba(255, 0, 0, 0.03);
  cursor: default;
}

form > .alert {
  margin-top: 1rem;
}

.alert {
  font-size: 14px;
  font-weight: 500;
  padding: 0.4rem 1rem;
  border-radius: 4px;
}
.alert-danger {
  color: rgba(255, 0, 0, 0.9);
  background: rgba(255, 0, 0, 0.1);
}
.alert:empty {
  display: none;
}

.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1rem 0;
  gap: 10px;
  flex-wrap: wrap;
}
.header .logo {
  display: flex;
  align-items: center;
  gap: 10px;
  background-color: #fff;
  width: fit-content;
  padding: 4px 32px 4px 48px;
  box-shadow: 0 0 6px rgba(0, 0, 0, 0.1);
  border-top-right-radius: 1.5rem;
  border-bottom-right-radius: 1.5rem;
  color: #f50707;
}
.header .logo > svg {
  width: 2.3rem;
  height: 2.3rem;
  color: #f50707;
}
.header .logo-content {
  font-size: 24px;
  font-weight: 500;
}
.header .be-a-donor-link {
  display: flex;
  align-items: center;
  gap: 6px;
  text-decoration: none;
  color: #f50707;
  padding: 0.5rem 0.75rem;
  border-radius: 6px;
  transition: all 0.2s ease-in-out;
}
.header .be-a-donor-link > svg {
  width: 16px;
  height: 16px;
}
.header .be-a-donor-link:hover {
  color: #fff;
  background: #f50707;
}
.header .be-a-donor-link:hover > svg {
  stroke: #fff;
}
@media (max-width: 576px) {
  .header .be-a-donor-link {
    color: #ff2f2f;
    background: #f0e9e9;
    font-weight: 500;
  }
  .header .be-a-donor-link > svg {
    stroke: #ff2f2f;
  }
}

.filter-bar h4 {
  color: red;
  display: block;
  margin-bottom: 1rem;
}

.search-filter {
  -webkit-appearance: none;
  -moz-appearance: none;
  -ms-appearance: none;
  -o-appearance: none;
  appearance: none;
  width: 100%;
  padding: 0.5rem 0.75rem;
  border: 1px solid #eee;
  position: relative;
  line-height: 1.5;
  background-image: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 32 24" width="24" height="24" fill="gray"><path d="M12 15.59L6.71 10.29a1.004 1.004 0 00-1.42 1.42l6 6a1.004 1.004 0 001.42 0l6-6a1.004 1.004 0 00-1.42-1.42z"/></svg>'); /* Custom arrow */
  background-repeat: no-repeat;
  background-position: right center;
  border-radius: 4px;
}
.search-filter:after {
  content: 'content'; /* Add the content here */
  position: absolute;
  top: 0;
  right: 0;
  z-index: 1;
}
.search-filter > option {
  -webkit-appearance: none;
  -moz-appearance: none;
  -ms-appearance: none;
  -o-appearance: none;
  appearance: none;
  padding: 0.5rem 1rem;
}

.filter-options {
  display: -moz-grid;
  display: -ms-grid;
  display: grid;
  gap: 10px;
  grid-template-columns: repeat(10, 1fr);
}
@media (max-width: 992px) {
  .filter-options {
    grid-template-columns: repeat(12, 1fr);
  }
}
.filter-options > div {
  grid-column: span 2;
}
@media (max-width: 992px) {
  .filter-options > div {
    grid-column: span 4;
  }
}
@media (max-width: 768px) {
  .filter-options > div {
    grid-column: span 6;
  }
}
@media (max-width: 576px) {
  .filter-options > div {
    grid-column: span 12;
  }
}

.label {
  font-size: 14px;
  font-weight: 500;
  color: #666;
  display: block;
  margin-bottom: 0.25rem;
}

.donor-registration-container {
  display: grid;
  place-items: center;
  height: 100vh;
}

.form-container {
  max-width: 600px;
  padding: 1.3rem;
  margin: auto;
  background-color: #fff;
  border-radius: 1rem;
  box-shadow: 0 10px 10px 10px rgba(0, 0, 0, 0.02);
}
.form-container h2 {
  margin-bottom: 2rem;
}

#donor-registration {
  display: grid;
  display: -ms-grid;
  display: -moz-grid;
  gap: 1.2rem;
  width: 100%;
  grid-template-columns: repeat(12, 1fr);
}
#donor-registration > .form-group {
  grid-column: span 12;
}
#donor-registration > .form-group > input {
  width: 100%;
  padding: 0.5rem 0.75rem;
  border: 1px solid #eee;
  position: relative;
  line-height: 1.5;
}
@media (min-width: 576px) {
  #donor-registration > .form-group {
    grid-column: span 6;
  }
  #donor-registration > .form-group.donor_name {
    grid-column: span 8;
  }
  #donor-registration > .form-group.donor_dob {
    grid-column: span 4;
  }
  #donor-registration
    > .form-group:has(
      select#division,
      select#district,
      select#thana,
      select#blood_type,
      input#last_blood_donation,
      input#mobile
    ) {
    grid-column: span 4;
  }
}
#donor-registration > input[type='submit'] {
  background: rgba(255, 0, 0, 0.9);
  color: rgba(255, 255, 255, 0.9);
  border-color: rgba(255, 255, 255, 0.3);
}
#donor-registration > input[type='submit']:hover {
  background: rgba(255, 0, 0, 0.7);
  color: rgba(255, 255, 255, 0.9);
  border-color: rgba(255, 255, 255, 0.2);
}

/*# sourceMappingURL=styles.css.map */
